* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
}

#container {
  display: flex;
  justify-content: center;
}

#calculator {
  display: flex;
  flex-direction: column;
  width: 380px;
}

#display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  border-style: solid;
  margin-bottom: 15px;
  font-size: 28px;
  padding-right: 5px;
}

#keypad {
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  gap: 5px;
  padding: 10px;
}

.key {
  display: flex;
  flex: 1 0 auto;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bold;
}